<div class="modal fade" id="newCampaignModal" tabindex="-1" role="dialog" aria-labelledby="newCampaignModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newCampaignModal">Basic Info</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>Name Your Campaign
            <input type="text" name="campaign[title]" class="form-control">
          </label><br>
          <label>When is it?<br>
            <input class="span2 datepicker" id="start_date" size="16" type="text" data-date-format="dd-mm-yyyy" name="campaign[start_date]" placeholder="Choose a start date"><span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span><br>
            <input class="span2 datepicker" id="end_date" size="16" type="text" data-date-format="dd-mm-yyyy" name="campaign[end_date]" placeholder="Choose an end date"><span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
          </label><br>
          <label>Location
            <input type="text" name="campaign[location]" class="controls form-control" id="pac-input" placeholder="Where do you want to play?">
          </label><br>
          <label>Game Style
            <select name="campaign[game_style]" class="form-control">
              <% _.each(gameStyles, function(gameStyle) { %>
                <option value="<%= gameStyle %>"><%= gameStyle %></option>
              <% })%>
            </select>
          </label><br>
          <label>Game System
            <select name="campaign[game_system]" class="form-control">
              <% _.each(gameSystems, function(gameSystem) { %>
                <option value="<%= gameSystem %>"><%= gameSystem %></option>
              <% })%>
            </select>
          </label><br>
          <label>Campaign Setting
            <select name="campaign[setting]" class="form-control">
              <% _.each(settings, function(setting) { %>
                <option value="<%= setting %>"><%= setting %></option>
              <% })%>
            </select>
          </label><br>
          <label>Number of Players
              <input type="number" name="campaign[num_members]" class="form-control" min="1">
            </label><br>
          </label><br>
          <input type="submit" value="Continue" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>
</div>
