<div class="panel-title host-header">
  <h1>Be a Dungeon Master</h1>
  <p>Don't be like this guy. Make some friends.</p>
  <br>
  <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#newCampaignModal">
    Tell Us About Your Campaign
  </button>
</div>

<div class="modal fade" id="newCampaignModal" tabindex="-1" role="dialog" aria-labelledby="newCampaignModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newCampaignModal">Basic Info</h4>
      </div>
      <div class="modal-body">
        <form>
          <label>Name Your Campaign
            <input type="text" name="campaign[title]" class="form-control">
          </label><br>
          <label>When is it?<br>
            <div class='input-group'>
              <input class="span2 datepicker form-control" id="start_date" size="16" type="text" data-date-format="dd-mm-yyyy" name="campaign[start_date]" placeholder="Choose a start date">
              <input class="span2 datepicker form-control" id="end_date" size="16" type="text" data-date-format="dd-mm-yyyy" name="campaign[end_date]" placeholder="Choose an end date">
          </label><br><br>
          <label>Location
            <input type="text" name="campaign[location]" class="controls form-control" id="pac-input" placeholder="Where do you want to play?">
          </label><br>
          <label>Game Style
            <select name="campaign[game_style]" class="form-control">
              <% _.each(gameStyles, function(gameStyle) { %>
                <option value="<%= gameStyle %>"><%= gameStyle %></option>
              <% })%>
            </select>
          </label><br>
          <label>Game System
            <select name="campaign[game_system]" class="form-control">
              <% _.each(gameSystems, function(gameSystem) { %>
                <option value="<%= gameSystem %>"><%= gameSystem %></option>
              <% })%>
            </select>
          </label><br>
          <label>Campaign Setting
            <select name="campaign[setting]" class="form-control">
              <% _.each(settings, function(setting) { %>
                <option value="<%= setting %>"><%= setting %></option>
              <% })%>
            </select>
          </label><br>
          <label>Number of Players
              <input type="number" name="campaign[num_members]" class="form-control" min="1">
            </label><br>
          </label><br>
          <input type="submit" value="Continue" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>

<div class='push'></div>
<div class='dm-footer'>
  <div class='footer-wrapper'>
    <div class="row big-info">
      <div class="col-xs-3 col-xs-offset-1 text-copy">
        <h3 class="text-special">Play</h3>
        <p>From campaigns hosted at places like treehouses and boats: play in unique spaces in 192 countries.</p>
        <p><a href="/help/getting-started/how-to-travel">
          See how to be a dungeon master on Airdnd</a></p>
      </div>

      <div class="col-xs-3 text-copy">
        <h3 class="text-special">Host</h3>
        <p>Playing more Dungeons and Dragons could make you a new friend for life.</p>
        <p><a href="/help/getting-started/how-to-host">
          Learn more about DMing</a></p>
      </div>

      <div class="col-xs-3 col-xs-offset-1 text-copy">
        <h3 class="text-special">
          Trust and Safety
        </h3>

        <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
        <p><a href="/trust">
          Learn about trust at Airdnd</a></p>
      </div>
    </div>
    <div class="row about-company">
      <div class="span3 col-xs-2 col-xs-offset-2">
        <h5>Company</h5>
        <ul class="unstyled list-layout">
          <li><a href="/about/about-us">About</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/press/news">Press</a></li>
          <li><a href="http://blog.airdnd.com">Blog</a></li>
        </ul>
      </div>

      <div class="span3 col-xs-2">
        <h5>Discover</h5>
        <ul class="unstyled list-layout">
          <li><a href="/trust">Trust & Safety</a></li>
          <li><a href="/invite?r=6">Invite Friends</a></li>
          <li><a href="/wishlists/airdnd_picks">Airdnd Picks</a></li>
          <li><a href="/mobile">Mobile</a></li>
          <li><a href="/sitemaps">Site Map</a></li>
        </ul>
      </div>

      <div class="span3 col-xs-2">
        <h5>Hosting</h5>
        <ul class="unstyled list-layout">
          <li><a href="/info/why_host">Why Host</a></li>
          <li><a href="/hospitality">Hospitality</a></li>
          <li><a href="/help/responsible-hosting">Responsible Hosting</a></li>
          <li><a href="/stories">Stories</a></li>
        </ul>
      </div>

      <div class="span3 col-xs-2">
        <h5>We're Here to Help</h5>
        <ul class="unstyled list-layout">
          <li><a href="/help">Help</a></li>
          <li><a href="/policies">Policies</a></li>
          <li><a href="/disaster-response">Disaster Response</a></li>
          <li><a href="/terms">Terms & Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
