<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img alt="Carousel7" class="carousel-image" height="100px" src="/assets/carousel8.jpg">
    </div>
    <div class="item">
      <img alt="Carousel6" class="carousel-image" height="100px" src="/assets/carousel6.png">
    </div>
    <div class="item">
      <img alt="Carousel8" class="carousel-image" height="100px" src="/assets/carousel7.jpg">
    </div>
    <div class="item">
      <img alt="Carousel3" class="carousel-image" height="100px" src="/assets/carousel3.png">
    </div>

  </div>
  <div class="carousel-caption">
    <h1 style="margin-bottom: 1pc">Find a Campaign to Join.</h1>
    <h3 style="margin-bottom: 2pc">Play D&D with people in over 34,000 cities and 190 countries.</h3>
    <div class="search-form">
      <form class="form-group">
        <input type='text' class='form-control pac-input' id='pac-input' name='request[location]'>
        <select name="request[game_style]" class="form-control" style="width:14pc">
          <option value="" disabled selected>Style</option>
            <% _.each(gameStyles, function(gameStyle) { %>
              <option value="<%= gameStyle %>"><%= gameStyle %></option>
            <% })%>
        </select>
        <select name="request[game_system]" class="form-control" placeholder="Game System" style="width:8pc">
          <option value="" disabled selected>System</option>
          <% _.each(gameSystems, function(gameSystem) { %>
            <option value="<%= gameSystem %>"><%= gameSystem %></option>
          <% })%>
        </select>
        <select name="request[num_members]" class="form-control" style="width:8pc">
          <option value="" disabled selected>Players</option>
          <% _.each(numPlayers, function(numPlayer) { %>
            <option value="<%= numPlayer.split(" ")[0] %>"><%= numPlayer %></option>
          <% })%>
        </select>
        <input type="submit" value="Search" class="btn btn-success">
      </form>
    </div>
  </div>
</div>

<div class="neighborhood-guide">
  <div class="section-intro">
    <h3>Neighborhood Guides</h3>
    <p class='suggestion'>Not sure where to play? Try browsing or starting with San Francisco.
    </p>
  </div>
</div>


<div class='push'></div>
<div class='footer-wrapper'>
  <div class="row big-info">
    <div class="col-xs-3 col-xs-offset-1 text-copy">
      <h3 class="text-special">Play</h3>
      <p>From campaigns hosted at places like treehouses and boats: play in unique spaces in 192 countries.</p>
      <p><a href="/help/getting-started/how-to-travel">
        See how to be a dungeon master on Airdnd</a></p>
    </div>

    <div class="col-xs-3 text-copy">
      <h3 class="text-special">Host</h3>
      <p>Playing more Dungeons and Dragons could make you a new friend for life.</p>
      <p><a href="/help/getting-started/how-to-host">
        Learn more about DMing</a></p>
    </div>

    <div class="col-xs-3 col-xs-offset-1 text-copy">
      <h3 class="text-special">
        Trust and Safety
      </h3>

      <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
      <p><a href="/trust">
        Learn about trust at Airdnd</a></p>
    </div>
  </div>
  <div class="row about-company">
    <div class="span3 col-xs-2 col-xs-offset-2">
      <h5>Company</h5>
      <ul class="unstyled list-layout">
        <li><a href="/about/about-us">About</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/press/news">Press</a></li>
        <li><a href="http://blog.airdnd.com">Blog</a></li>
      </ul>
    </div>

    <div class="span3 col-xs-2">
      <h5>Discover</h5>
      <ul class="unstyled list-layout">
        <li><a href="/trust">Trust & Safety</a></li>
        <li><a href="/invite?r=6">Invite Friends</a></li>
        <li><a href="/wishlists/airdnd_picks">Airdnd Picks</a></li>
        <li><a href="/mobile">Mobile</a></li>
        <li><a href="/sitemaps">Site Map</a></li>
      </ul>
    </div>

    <div class="span3 col-xs-2">
      <h5>Hosting</h5>
      <ul class="unstyled list-layout">
        <li><a href="/info/why_host">Why Host</a></li>
        <li><a href="/hospitality">Hospitality</a></li>
        <li><a href="/help/responsible-hosting">Responsible Hosting</a></li>
        <li><a href="/stories">Stories</a></li>
      </ul>
    </div>

    <div class="span3 col-xs-2">
      <h5>We're Here to Help</h5>
      <ul class="unstyled list-layout">
        <li><a href="/help">Help</a></li>
        <li><a href="/policies">Policies</a></li>
        <li><a href="/disaster-response">Disaster Response</a></li>
        <li><a href="/terms">Terms & Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
