<div class='search-map' id='map-canvas'></div>
<div class='search-results'>
  <div class='form-group' id='filters'>
    <input class='form-control' id='name' type='text' placeholder="Search by name">
    <input type="text" name="location" class="form-control controls location" id="pac-input" placeholder="Where would you like to play?" value="<%= searchParams.location %>">
    <select id='style' name="game_style" class="form-control">
      <option value="" disabled selected>Style</option>
      <% _.each(gameStyles, function(gameStyle) { %>
        <% if (searchParams.game_style === gameStyle) { %>
          <option selected='selected' value="<%= gameStyle %>"><%= gameStyle %></option>
        <% } else { %>
          <option value="<%= gameStyle %>"><%= gameStyle %></option>
        <% }%>
      <% })%>
    </select>
    <select id='system' name="game_system" class="form-control">
      <option value="" disabled selected>System</option>
      <% _.each(gameSystems, function(gameSystem) { %>
        <% if (searchParams.game_system === gameSystem) { %>
          <option selected='selected' value="<%= gameSystem %>"><%= gameSystem %></option>
        <% } else { %>
          <option value="<%= gameSystem %>"><%= gameSystem %></option>
        <% }%>
      <% })%>
    </select>
    <select id='setting' name="setting" class="form-control">
      <option value="" disabled selected>Campaign Setting</option>
      <% _.each(settings, function(setting) { %>
        <% if (searchParams.setting === setting) { %>
          <option selected='selected' value="<%= setting %>"><%= setting %></option>
        <% } else { %>
          <option value="<%= setting %>"><%= setting %></option>
        <% }%>
      <% })%>
    </select>
    <select id='players' name="num_members" class="form-control">
      <option value="" disabled selected>Players</option>
      <% _.each(numPlayers, function(num) { %>
        <% if (parseInt(searchParams.num_members) === parseInt(num)) { %>
          <option selected='selected' value="<%= parseInt(num) %>"><%= num %></option>
        <% } else { %>
          <option value="<%= parseInt(num) %>"><%= num %></option>
        <% }%>
      <% })%>
    </select>
  </div>
  <div id='results'>
    <div class='campaign-previews'></div>
  </div>
</div>
